version: "3.8"

services:
  backend:
    build: ./backend/shop-pc-api
    container_name: pcshop-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/shop-pc-api/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend/shop-pc-api
    container_name: pcshop-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: pcshop-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
